*{
	margin: 0 auto;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration: none;		
}
body{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.site-topbar{
	height: 40px;
	background-color: #333;
	font-size: 12px;
	color: #b0b0b0;
}
.site-topbar .contioner{
	width: 1226px;
	height: 40px;
	margin:0 auto;
	position: relative;
}
.topbar-nav{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 0px;
}
.topbar-nav a{
	font-size: 12px;
	color: #b0b0b0;
}
.topbar-nav a:after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 17px;
	background-color: #424242;
	vertical-align: middle;
	margin:0 .5em;
}
.topbar-nav a:nth-child(9):after{
	display: none;
}

.topbar-nav a:hover{
	color: #ffffff;
}
.topbar-cart{
	width: 120px;
	margin-left: 15px;
	float: right;
}
.topbar-cart a{
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background-color: #424242;
}
.topbar-cart a:hover{
	background-color: #fff;
	color: #ff6700;
}
.topbar-cart .cart-menu{
	display: none;
	width: 316px;
	height:96px;
	position: absolute;
	top: 40px;
	right: 0px;
	z-index: 5;
	line-height: 96px;
	color: black;
	text-align: center;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	background-color:#fff;
} 
.topbar-cart:hover a{
	background-color: #fff;
	color: #ff6700;
}
.topbar-cart:hover .cart-menu{
	display: inline-block;
}

.topbar-info{
	float: right;
	line-height: 40px;
	height: 40px;
	font-size: 0;
}
.topbar-info a{
	color: #b0b0b0;
	font-size: 12px;
}
.topbar-info a:hover{
	color: #fff;
}
.topbar-info a:after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 17px;
	background-color: #424242;
	vertical-align: middle;
	margin:0 .5em;
}
.topbar-info a:nth-child(3):after{
	display: none;
}

.site-topbar	.bar-s{
	width: 27px;
	height: 176px;
	background-color: #fff;
	position: relative;
	margin-left: 500px;
	margin-top: 200px;
	position:relative;
	left:788px;
	top: 50px;
	z-index: 10;
	position: fixed;
}
.site-topbar .bar-s .bar-top{
	display: inline-block;
	width: 27px;
	height: 121px;
	margin-top: 0;
}
.bar-s .bar-top li{
	display: inline-block;
	width: 27px;
	height: 39px;
	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
}
.bar-s .bar-top li:nth-child(1):hover .dialog{
	display: inline-block;
	top: 4px;
	right: 38px;
}
.bar-s .bar-top li:nth-child(2):hover .dialog{
	display: inline-block;
	top: 43px;
	right:38px;
}
.bar-s .bar-top li:nth-child(3):hover .dialog{
	display: inline-block;
	top: 83px;
	right: 38px;
}
.bar-s .bar-top li:nth-child(3){
	border: none;
}
.bar-s .bar-top i{
	color: #b0b0b0;
	font-size: 18px;
	margin-left: 5px;
	margin-top: 11px;	
}
.bar-s .bar-top li:nth-child(3) i{
	margin-left: 3px;
}
.bar-s .bar-top i:hover{
	color: #ff6700;
}
.site-topbar .bar-s .bar-bottom{
	position: absolute;
	bottom: 0;
	width: 27px;
	height: 41px;
}
.bar-s .bar-bottom i{
	color: #b0b0b0;
	font-size: 20px;
	margin-left: 5px;
	margin-top: 11px;
}
.bar-s .bar-bottom i:hover{
	color: #ff6700;
}
.site-topbar .dialog{
	display:none;
	width: 85px;
	height: 30px;
	background-color: #fff;
	text-align: center;
	position: absolute;
}
.dialog:after{
	content: '';
	display: inline-block;
	border:8px transparent solid;
	border-left: 8px #fff solid;
	position: absolute;
	right: -16px;
	top: 7px;
}
.dialog a{
	line-height: 30px;
	color: #333;
}
.dialog a:hover{
	color: #ff6700;
}

.site-section{

}
.site-container{
	width: 1226px;
	height: 100px;
}
.site-container .header-logo{
	display: inline-block;
	padding-top: 22px;
	font-size: 0;
} 
.site-container .header-logo .logo-ir{
	background-color: #FF6700;
	display: inline-block;
	width: 55px;
	height: 55px;
}
.site-header .header-logo .logo-ir:after{
	content: '';
	background-image: url(../img/logo_1.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 55px;
	height:55px;
	background-color:#ff6700 ;
}
.site-container .header-logo .logo-ir .logo-title{
	display: none;
}
.header-nav{
	display: inline-block;
	margin-left: 152px;
	font-size: 0;
	vertical-align: top;

}
.nav-category{
	display: none;

}
.nav-item{
	font-size: 16px;
	line-height: 100px;
	margin-right: 25px;
	display: inline-block;
}
.nav-item a{
	color: #333;
}
.nav-item a:hover{
	color: #ff6700;
}

.header-scarch{
	float: right;
	margin-top: 22px;
	position: relative;
}
.header-scarch .search-form{
	width: 273px;
	height: 50px;
	font-size: 0;
}
.header-scarch .search-form .search-text{
	width: 221px;
	height: 50px;
	border: 1px #e0e0e0 solid;
	border-right: none;
}
.header-scarch .search-form .search-text:hover{
	border: 1px #b0b0b0 solid;
	border-right: none;
	transition: all .2s;
}
.search-form .search-bth{
	display: inline-block;
	width: 52px;
	height: 50px;
	color: #616161;
	font-size: 24px;
	background-color: #fff;
	vertical-align: top;
	border: 1px #e0e0e0 solid;
}
.search-form .search-bth i{
	margin-top: 17px;
	margin-left: 15px;
}
.search-form .search-bth:hover{
	background-color: #ff6700;
	color: #fff;
	border:none;
}
.header-scarch .search-form:hover .search-bth{
	background-color: #ff6700;
	color: #fff;
	border:none;
}
.site-header{

}
.site-header .search-hot-words{
	position: absolute;
  top: 14px;
  right: 62px;
  z-index: 2;
  text-align: right;
}
.site-header .search-hot-words a{
	display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  font-size: 12px;
  background-color: #eee;
  color: #757575;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.site-header .search-hot-words a:hover{
	background-color: #ff6700;
	color: #ffffff;
}

/*1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/

.home-hero-container{
	height: 1272px;

}
.home-hero-container .home-hero{
	width: 1226px;
	height: 644px;
	margin-bottom: 26px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
.home-hero-container .home-hero .home-hero-slider{
	position: relative;
	height: 460px;
}
.home-hero-container .home-hero .home-hero-slider img{
	width: 1225.99px;
	height: 459.98px;
}
.home-hero-container  .home-hero-slider .ui-prev{
	position: absolute;
	width: 41px;
	height: 69px;
	top: 195.5px;
	left: 234px;
}
.home-hero-container  .home-hero-slider .ui-prev a{
	display: inline-block;
	text-indent: -9999px;
}
.home-hero-container  .home-hero-slider .ui-prev:before{
	content: '';
	width: 18px;
  height: 18px;
  position: absolute;
  border-left: 2px solid #b0b0b0;
  border-bottom: 2px solid  #b0b0b0;
  transform: rotate(45deg);
  border-radius: 2px;
	display: inline-block;
	position: absolute;
	left: 13px;
	top: 26.5px;
}
.home-hero-container  .home-hero-slider .ui-prev:hover{
	background-color: rgba(0,0,0,0.6);
	transition: all .2s;
}

.home-hero-container  .home-hero-slider .ui-next{
	position: absolute;
	width: 41px;
	height: 69px;
	top: 195.5px;
	right: 0px;
}
.home-hero-container  .home-hero-slider .ui-next a{
	display: inline-block;
	text-indent: -9999px;
}
.home-hero-container  .home-hero-slider .ui-next:before{
	content: '';
	width: 18px;
  height: 18px;
  position: absolute;
  border-right: 2px solid #b0b0b0;
  border-top: 2px solid  #b0b0b0;
  transform: rotate(45deg);
  border-radius: 2px;
	display: inline-block;
	position: absolute;
	right:15px ;
	top: 26.5px;
}
.home-hero-container  .home-hero-slider .ui-next:hover{
	background-color: rgba(0,0,0,0.6);
	transition: all .2s;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item a{
	width: 9px;
	height: 9px;
	display: inline-block;
	border-radius: 10px;
	border: 2px solid #fff;
 	border-color: rgba(255,255,255,0.3);
 	background-color: rgba(0,0,0,0.6);
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item a:hover{
	background-color: #e0e0e0;
	transition: all .2s;
	border: 2px solid #7b7b7b;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(1){
	position: absolute;
	bottom:20px;
	right: 33px;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(2){
	position: absolute;
	bottom:20px;
	right:50.98px; 
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(3){
	position: absolute;
	bottom:20px;
	right: 68.96px;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(4){
	position: absolute;
	bottom:20px;
	right: 86.94px;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(5){
	position: absolute;
	bottom:20px;
	right: 104.92px;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(6){
	position: absolute;
	bottom:20px;
	right: 122.9px;
}
/*1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111*/
.home-hero-container .home-hero .home-hero-slider img{
	width: 1225.99px;
	height: 459.98px;
}
.home-hero-container .site-category{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 234px;
  height: 459.98px;
  font-size: 14px;
  background:rgba(0,0,0,0.6);
}
.home-hero-container .site-category .site-category-list{
	height: 420px;
	margin-top: 20px;
	background:rgba(0,0,0,0.0);
	position: relative;
}
.home-hero-container .site-category-list .category-item{
	list-style: none;
	width: 234px;
	height: 42px;
	display: inline-block;
}
.home-hero-container .site-category-list .category-item a{
	font-size: 14px;
	line-height: 42px;
	color: #fff;
	margin-left: 30px;
}
.home-hero-container .site-category-list .category-item >a:after{
	content: '';
	display: inline-block;
	width: 7px;
  height: 7px;
	float: right;
	margin-right: 15px;
	margin-top: 16px;
  border-right: 3px solid #b0b0b0;
  border-top: 3px solid  #b0b0b0;
  transform: rotate(45deg);
  border-radius: 1px;	 
}
.home-hero-container .site-category-list .category-item:nth-child(1) a{
	margin-left: 30px;
}
.home-hero-container .site-category-list .category-item:hover{
	background-color: #ff6700;
	color: #ffffff;
}

.children{
  display:none;
  position: absolute;
  top: -20px;
  left: 235px;
  width: 993px;
  height: 458px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
.home-hero-container .site-category-list .category-item:hover .children {
	display: inline-block;
}
.children-list{
  width: 248px;
  height: 458px;
  list-style: none;
  margin: 0;
  float: left;
}
 .children-list .link{
	display: inline-block;
  width: 248px;
  height: 76.33px;
  padding:0px 20px;
}
 .children-list .thumb{
	display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  vertical-align: middle;
}
 .children-list .text{
  font-size:;
  line-height: 76.33px;
  color: black;
}
 .children-list .text:hover{
  color: #ff6700;
}

.home-hero-container .home-hero .home-hero-sub{
	width: 1226px;
	height: 170px;
	margin-top: 14px;
}

.home-hero-container .home-hero-sub .sub-left{
	width: 234px;
	height: 170px;
	display: inline-block;
}
.home-hero-sub .sub-left .home-channel-list{
	width: 234px;
	height: 170px;
	margin: 0;
  padding: 3px;
  list-style-type: none;
  font-size: 12px;
  background-color: #5f5750;
}
.sub-left .home-channel-list i{
	display:block;
	margin-bottom: 4px;
}
.home-hero-sub .home-channel-list li{
	width: 70px;
	height: 82px;
	display: inline-block;
	float: left;
	padding:0 3px;
	margin-left: 4px;
	position: relative;

 }
 .home-hero-sub .home-channel-list li:before{
 	content: '';
 	display: inline-block;
 	width: 67px;
 	height: 1px;
 	background-color:  rgba(255,255,255,0.1);
 	position: absolute;
 	top: 80px;
 	left: 3px;
 }
  .home-hero-sub .home-channel-list li:nth-child(4):before{
  	display: none;
  }
  .home-hero-sub .home-channel-list li:nth-child(5):before{
  	display: none;
  }
  .home-hero-sub .home-channel-list li:nth-child(6):before{
  	display: none;
  }

 .home-hero-sub .home-channel-list li:after{
 	content: "";
 	display: inline-block;
 	width: 1px;
 	height: 60px;
 	background-color:  rgba(255,255,255,0.1);
 	position: absolute;
 	right: -4px;
 	top: 13px;
 }
 .home-hero-sub .home-channel-list li:nth-child(3):after{
 	display: none;
 }
 .home-hero-sub .home-channel-list li:nth-child(6):after{
 	display: none;
 }
.home-hero-sub .home-channel-list a{
	display: inline-block;
	width: 70px;
	height: 69px;
	color: rgba(255,255,255,0.7);
  padding-top: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
	}
.home-hero-sub .home-channel-list a:before{
	content: '';
	display: inline;
	width: 1px;
	height: 20px;
	color:#fff;
}

.home-hero-sub .home-channel-list a:hover{
	color: #ffffff;
}

.home-hero-sub .home-channel-list span{
	text-align: center;
}


.home-hero-sub .prono-list{
	display: inline-block;
	height: 170px;
	margin: 0;
  list-style-type: none;
}
.home-hero-sub .prono-list li{
	margin-left: 0;
  display: inline-block;
  margin-left: 10px;
  font-size: 0; 
}
.home-hero-sub .prono-list li:hover{
	box-shadow: -1px 0px 30px  #888888;
	transition: all 0.2s;
}
 .prono-list a{
 	text-decoration: none;
}
 .prono-list img{
 	width: 316px;
  height: 170px;
 }

 .home-hero-container .xm-plain-box{
 	width: 1226px;
 	margin-top: 20px;
 }
 .home-hero-container .xm-plain-box .box-hd{
 	height: 58px;
 	position: relative;
 	-webkit-font-smoothing: antialiased;
 }
  .xm-plain-box .box-hd .title{
 		margin: 0;
 		font-size: 22px;
 		line-height: 58px;
 		font-weight:200;
 		color: #333;
  }
  .xm-plain-box .box-hd .more{
 		display: inline-block;
 		width: 70px;
  	height: 24px;
  	border: 1px #b0b0b0 solid;
 		position: absolute;
 		right: 0;
 		top: 24px;
  }
  .box-hd .more .xm-controls{
  	display: inline-block;
  }
  .box-hd .more .xm-controls a{
		margin-left: -1px;
  }
  .box-hd .more .xm-controls .contorl-prev{
  	width: 35px;
  	height: 24px;
  	display: inline-block;
  	border-right: 1px #b0b0b0 solid;
  }
  .box-hd .more .xm-controls .contorl-prev:after{
  	content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 15px;
  }
  .box-hd .more .xm-controls .contorl-prev:hover:after{
  	border-left: 1px solid #ff6700;
  	border-bottom: 1px solid #ff6700;
  }
  .box-hd .more .xm-controls .contorl-next:after{
  	content: '';
  	display: inline-block;
  	width: 10px;
  	height: 10px;
  	border-top: 1px solid #b0b0b0;
  	border-right: 1px solid #b0b0b0;
  	transform: rotate(45deg);
  	position: absolute;
    top: 6px;
    right: 15px;
  }
  .box-hd .more .xm-controls .contorl-next:hover:after{
  	border-top: 1px solid #ff6700;
  	border-right: 1px solid #ff6700;
  }
  .home-hero-container .xm-plain-box .box-bd{
  	width: 1226px;
  	height: 340px;
  	padding-bottom: 40px;
  	overflow: hidden;
  	position: relative;
  }
  .xm-plain-box .box-bd .xm-goods-list{
  	height: 340px;
  	overflow: hidden;
  }
  .box-bd .xm-goods-list .rainbow-item{
  	width: 234px;
  	height: 340px;
  	display: inline-block;
  	background: #f1eded;
    text-align: center;
  	border-top: 1px #e53935 solid;
  	margin: 0 14px 0 0;
  	float: left;
  }
  .xm-goods-list .rainbow-item .title{
  	font-size: 21px;
    color: #ef3a3b;
    padding-top: 48px;
  } 
  .xm-goods-list .rainbow-item img{
  	margin:25px auto;
  }
  .xm-goods-list .rainbow-item .sub{
  	color: rgba(0,0,0,0.54);
    font-size: 15px;
  }
  .xm-goods-list .rainbow-item .xm-flashpurchase{
  	width: 168px;
  	height: 46px;
    margin: 28px auto 0;
    position: relative; 
  }
 	.rainbow-item .xm-flashpurchase .box{
 		width: 46px;
 		height: 46px;
 		background-color: #605751;
 		color: #fff;
 		font-size: 24px;
 		line-height: 46px;
 		display: inline-block;
 		margin-right: 10px;
 		position: relative;
 	}
 	.rainbow-item .xm-flashpurchase .box:nth-child(3){
 		margin-right: 0;
 	}
 	.rainbow-item .xm-flashpurchase .box:nth-child(1):after{
 		content: ':';
 		display: inline-block;
 		color:#605751;
 		position: absolute;	
 		right: -10px;
 	}
 	.rainbow-item .xm-flashpurchase .box:nth-child(2):after{
 		content: ':';
 		display: inline-block;
 		color:#605751;
 		position: absolute;	
 		right: -10px;
 	}
 	.xm-rainbow-tiem{
 		width: 234px;
 		height: 340px;
 		float: left;
 		margin-right: 14px;
 	}
 	.box-bd .xm-goods-list .xm-rainbow-tiem:nth-child(2){
 		border-top:1px #ffac13 solid; 
 	}
 	.box-bd .xm-goods-list .xm-rainbow-tiem:nth-child(3){
 		border-top:1px #83c44e solid; 
 	}
 	.box-bd .xm-goods-list .xm-rainbow-tiem:nth-child(4){
 		border-top:1px #2196f3 solid; 
 	}
 	.box-bd .xm-goods-list .xm-rainbow-tiem:nth-child(5){
 		border-top:1px #e53935 solid; 
 		margin-right: 0;
 	}
	.xm-rainbow-tiem .bg{
    width: 234px;
    height: 340px;
    display: inline-block;
    background-color: rgba(0,0,0,0.02);  
    text-align: center;
  }
  .xm-rainbow-tiem .bg img{
  	width: 160px;
  	height: 166px;
  	margin-bottom:22px;
  }
  .xm-rainbow-tiem .bg h3{
  	color: #212121;
  	margin-top: 25px;
  }

  .xm-rainbow-tiem .bg .desc{
  	height:20px;
    margin: 5px 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
  }
  .xm-rainbow-tiem .bg .price{
  	margin: 0;
    color: #ff6709;
  }
  .xm-rainbow-tiem .bg del{
  	color: #b0b0b0;
  	margin-left: 8px;
  }
	.home-hero-container .item-box{
		margin: 2px 0 42px;
    overflow: hidden;
    text-align: center;
    margin: 33px 0;
	}
	.home-hero-container .item-box img{
		width: 1226px;
		height: 120px;
	}

	.page-main-section{
		background-color: #f5f5f5;
		height: 6807px;
	}
	.page-main-section .page-main{
		width: 1226px;
		padding-top: 22px;
	}
	.page-main-section .page-main .home-brick-box{
		width: 1226px;
		height: 672px;
	}
	.page-main .home-brick-box .box-hd{
		width: 1226px;
		height: 58px;
	}
	.home-brick-box .box-hd .title{
		display: inline-block;
		float: left;
		margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
	}
	.home-brick-box .box-hd .more{
		float: right;
	}
	.home-brick-box .box-hd .more a{
		font-size: 16px;
    line-height: 58px;
    color: #424242;
    transition: all .4s;
	}
	.home-brick-box .box-hd .more a:hover{
		color: #ff6700;
	}
	.home-brick-box .box-hd .more i{
		display: inline-block;
		width: 22px;
		height: 23px;
		vertical-align: middle;
		background-color: #b0b0b0;
		margin-left: 5px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    line-height: 12px;
    transition: all .4s;
	}
	.home-brick-box .box-hd .more i:after{
		content: '';
		display: inline-block;
		width: 7px;
		height: 7px;
		border-top:2px #fff solid;
		border-right:2px #fff solid;
		transform: rotate(45deg);
	}
	.home-brick-box .box-hd .more i:hover{
		background-color: #ff6700;
	}
	.home-brick-box  .box-bd{
		width: 1226px;
		height: 614px;
	}
	.home-brick-box .box-bd .home-banner-left{
		float: left;
		font-size: 0;
	}
	.home-brick-box .box-bd .home-banner-left:hover{
		box-shadow: -1px 13px 14px rgba(0,0,0,0.1);
		transition: all .1s linear;
		transform: translateY(-2px);
	}
	.box-bd .home-banner-left img{
		width: 234px;
		height: 614px;
	}
	.home-brick-box .box-bd .brick-item{
		width: 234px;
		height: 300px;
		background-color: #fff;
		display: inline-block;
		float: left;
		margin-left: 14px;
		margin-bottom: 14px;
	}
	.home-brick-box .box-bd .brick-item:hover{
		box-shadow: -1px 13px 14px rgba(0,0,0,0.1);
		transition: all .1s linear;
		transform: translateY(-2px)
	}
	.box-bd .brick-item img{
		width: 160px;
		height: 160px;
		margin-top: 18px;
	}
	.box-bd .brick-item .link{
		display:block;
		color: black;
	}
	.box-bd .brick-item .desc{
		margin: 5px auto 10px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
	}
	.box-bd .brick-item .num{
		color: #ff6700;
	}
	.box-bd .brick-item .num del{
		color: #b0b0b0;
	}
	.page-main-section .page-main .banner-box-brick{
		margin:28px 0 22px;
	}
	.page-main .banner-box-brick img{
		width: 1226px;
		height: 120px;
	}

	.page-main-section .page-main .home-brick-row{
		width: 1226px;
		height: 686px;
		position: relative;
	}
	

	
	.page-main .home-brick-row .row-hd{
    height: 58px;
    -webkit-font-smoothing: antialiased;
	}
	.home-brick-row .row-hd .title{
		display: inline-block;
		margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
	}
	.home-brick-row .row-hd .row-more{
		float: right;
		margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;  
	}
	.home-brick-row .row-hd .row-more li{
		float: left;
		margin-left: 10px;
	}
	.home-brick-row .row-hd .row-more a{
		color: #424242;
	}
	.home-brick-row .row-hd .row-more a:hover{
		color: #ff6700;
		border-bottom: 2px #ff6700 solid;
	}

	.home-brick-row .row-bd .brick-promo-list{
		width: 234px;
		height: 614px;
		float: left;
		
	}
	.home-brick-row .row-bd img{
		display: inline-block;
		font-size: 0;
		width: 234px;
		height: 300px;
		margin:0 0 8px 0;
	}
	.home-brick-row .row-bd img:nth-child{
		margin: 0px;
	}
	.home-brick-row .row-bd img:hover{
		box-shadow: -1px 13px 14px rgba(0,0,0,0.03);
		transition: all .1s linear;
		transform: translateY(-2px)
	}

	.brick-list{
		width: 992px;
		height: 614px;
		position: absolute;
		top: 58px;
		right: 0;
		}
.brick-list .brick-item{
	display: inline-block;
	width: 234px;
	height: 300px;
	float: left;
	background-color: #fff;
	margin-left: 14px;
	margin-bottom:14px;
	transition: all .2s ease;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.brick-list .brick-item img{
	display: block;
	width: 150px;
	height: 150px;
}
.brick-list .brick-item a{
	display: inline-block;
	color: #333;
	margin-top: 20px;
}
.brick-list .brick-item .desc{
	margin: 0 10px 10px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
  text-align: center;
}
.brick-list .brick-item .price{
	margin: 0 10px 10px;
 	color: #ff6700;
 	text-align: center;
}

.brick-list .brick-item .price del{
	color: #b0b0b0;
	margin-left: 4px;
}
.brick-list .brick-item .evealuate{
	width: 234px;
	height:85px;
	background-color:#ff6700;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateY(100%);
 	transition: all .2s ease;
}
.brick-list .brick-item .evealuate p{
	width: 170px;
	font-size: 10px;
	text-align: left;
	margin-top: 7px;
}
.brick-list .brick-item .evealuate span{
	display: block;
	font-size: 8px;
	color: #f0f0f0;
	margin-top: 6px;
}
.brick-list .brick-item:hover{
	box-shadow: -1px 13px 14px rgba(0,0,0,0.03);
	transition: all .1s linear;
	transform: translateY(-2px)
}
.brick-list .brick-item:hover .evealuate{
	transition: all .2s linear;
	 transform: translateY(0);	
}

.brick-list .brick-item-s{
	float: left;
	width: 234px;
	height: 143px;
	margin: 0 0 14px 14px;
	background-color: #fff;
} 
.brick-list .brick-item-s i{
	margin-top: 35px;
	margin-left: 20px;
	color: #ff6700;
}
.brick-list .brick-item-s:nth-child(2){
	margin-bottom: 0;
}
.brick-list .brick-item-s:hover{
	box-shadow: -1px 13px 14px rgba(0,0,0,0.03);
	transition: all .1s linear;
	transform: translateY(-2px)
}
.brick-list .brick-item-s .tite{
	float: left;
	display: inline-block;
	width: 94px;
	height: 80px;
	margin: 30px 0 0 30px ;
}
.brick-list .brick-item-s .exposure{
	display: inline-block;
	color: #333;
	line-height: 14px;
}

.brick-list .brick-item-s .price{
	display: inline-block;
	color: #ff6700;
	line-height: 14px;			
}
.brick-list .brick-item-s img{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 30px;
	margin-right: 20px;
}
.brick-list .brick-item-s a{
	display: inline-block;
	color: black;
	font-size: 18px;
	margin-top: 10px;
}
.brick-list .brick-item-s span{
	font-size: 12px;
	color: #757575;
	display: block;
	margin-top: 15px;
}

.banner-row-brick{
	display: inline-block;
	margin: 28px 0 22px;
}
.banner-row-brick img{
	width: 1226px;
	height: 120px;
}



	/*为你推荐111111111111111111111111111111111*/
.titlebar-row{
	position: relative;
 	width: 1226px;
 	height: 398px;
 	margin-top: 20px;
}
.titlebar-row .row-hd{
 	width: 1226px;
 	height: 58px;
 	position: relative;
 	-webkit-font-smoothing: antialiased;
}
.titlebar-row .row-hd .title{
	display: inline-block;
 	margin: 0;
 	font-size: 22px;
 	line-height: 58px;
 	font-weight:200;
 	color: #333;
}
  .titlebar-row .row-hd .more{
 		display: inline-block;
 		width: 70px;
  	height: 24px;
  	border: 1px #b0b0b0 solid;
 		position: absolute;
 		right: 0;
 		top: 24px;
  }
  .row-hd .more .xm-controls{
  	display: inline-block;
  }
  .row-hd .more .xm-controls a{
		margin-left: -1px;
  }
  .row-hd .more .xm-controls .contorl-prev{
  	width: 35px;
  	height: 24px;
  	display: inline-block;
  	border-right: 1px #b0b0b0 solid;
  }
  .row-hd .more .xm-controls .contorl-prev:after{
  	content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid #b0b0b0;
    border-bottom: 1px solid #b0b0b0;
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 15px;
  }
  .row-hd .more .xm-controls .contorl-prev:hover:after{
  	border-left: 1px solid #ff6700;
  	border-bottom: 1px solid #ff6700;
  }
  .row-hd .more .xm-controls .contorl-next:after{
  	content: '';
  	display: inline-block;
  	width: 10px;
  	height: 10px;
  	border-top: 1px solid #b0b0b0;
  	border-right: 1px solid #b0b0b0;
  	transform: rotate(45deg);
  	position: absolute;
    top: 6px;
    right: 15px;
  }
  .row-hd .more .xm-controls .contorl-next:hover:after{
  	border-top: 1px solid #ff6700;
  	border-right: 1px solid #ff6700;
  }
 	.item-rainbow-item{
 		width: 234px;
 		height: 340px;
 		float: left;
 		margin-right: 14px;
 		background-color: #fff;
 	}
 	.item-rainbow-item:hover{
 		box-shadow: -1px 13px 14px rgba(0,0,0,0.05);
    transition: all .1s linear;
    transform: translateY(-2px);
 	}
 	.item-rainbow-item:nth-child(5){
 		margin-right: 0;
 	}
	.item-rainbow-item .bg{
    width: 234px;
    height: 340px;
    display: inline-block;
    background-color: rgba(0,0,0,0.02);  
    text-align: center;
  }
  .item-rainbow-item .bg img{
  	width: 160px;
  	height: 166px;
  	margin-bottom:22px;
  }
  .item-rainbow-item .bg h3{
  	color: #212121;
  	margin-top: 25px;
  }

  .item-rainbow-item .bg .desc{
  	height:20px;
    margin: 5px 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
  }
  .item-rainbow-item .bg .price{
  	margin: 0;
    color: #ff6709;
  }
  .item-rainbow-item .bg del{
  	color: #b0b0b0;
  	margin-left: 8px;
  }





	/*为你推荐1111111111111111111111111111111111*/
.buzz-box{
	position: relative;
 	width: 1226px;
 	height: 473px;
 	margin-top: 20px;
}
.buzz-box .box-hd{
 	width: 1226px;
 	height: 58px;
 	position: relative;
 	-webkit-font-smoothing: antialiased;
}
.buzz-box .box-hd .title{
	display: inline-block;
 	margin: 0;
 	font-size: 22px;
 	line-height: 58px;
 	font-weight:200;
 	color: #333;

}
.buzz-box .buzz-list{
	width: 1226px;
	height: 415px;
}
.buzz-box .buzz-list .box-buzz{
	float: left;
	width: 296px;
	height: 415px;
	background-color: #fff;
	margin-top: 0;
	margin-right: 14px;
	text-align: center;
}
.buzz-box .buzz-list .box-buzz:hover{
	box-shadow: -1px 13px 14px rgba(0,0,0,0.1);
	transition: all .1s linear;
	transform: translateY(-2px);
}
.buzz-box .buzz-list .box-buzz:nth-child(4){
	margin-right: 0;
}
.buzz-box .buzz-list .box-buzz img{
	display: inline-block;
	width: 296px;
	height: 220px;
	margin: 0 0 28px;
}
.buzz-box .buzz-list .box-buzz .a{
	display: inline-block;
	width: 240px;
	height: 90px;
	margin: 0 15px;
	color: #333;
}
.buzz-box .buzz-list .box-buzz .author{
	height: 18px;
  margin: 0 28px 8px;
  padding: 0 10px 0 0;
  font-size: 12px;
  color: #b0b0b0;
}
.buzz-box .buzz-list .box-buzz .price{
	display: inline-block;
  margin: 0;
  color: #ff6700;
 
}
.buzz-box .buzz-list .box-buzz .link{
	display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  max-width: 170px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
  color: #333;
}
.buzz-box .buzz-list .box-buzz .link:after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 16px;
	background-color: #e0e0e0;
	margin-left: 8px;
	margin-right: 8px;
}
	/*为你推荐1111111111111111111111111111111111*/
	/*内容内容*/
.home-contont-box{
	width: 1226px;
	height: 478px;
}
.home-contont-box .contont-hd{
	width: 1226px;
	height: 58px;
}
.home-contont-box .contont-hd .title{
	margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.home-contont-box .contont-bd{
	width: 1226px;
	height: 420px;
	font-size: 0;
}
.home-contont-box .contont-bd .contont-list-book{
	display: inline-block;
	width: 296px;
	height: 420px;
	background-color: #fff;
	margin-right: 14px;
	vertical-align: top;
	font-size: 14px;
	padding: 45px 0 0;
	margin-bottom: 14px;
	transition: all .2s linear;
	text-align: center;
	border-top:1px solid #ffac13;
}
.home-contont-box .contont-bd .contont-list-book:nth-child(4){
	margin-right: 0px;
}
.home-contont-box .contont-bd .contont-list-book:nth-child(2){
	border-top:1px solid #83c44e;
}
.home-contont-box .contont-bd .contont-list-book:nth-child(2) h2{
	color: #83c44e;
}
.home-contont-box .contont-bd .contont-list-book:nth-child(3){
	border-top:1px solid #e53935;
}
.home-contont-box .contont-bd .contont-list-book:nth-child(3) h2{
	color: #e53935;
}
.home-contont-box .contont-bd .contont-list-book:nth-child(4){
	border-top:1px solid #2196f3;
}
.home-contont-box .contont-bd .contont-list-book:nth-child(4) h2{
	color: #2196f3;
}
.home-contont-box .contont-bd .contont-list-book:hover{
	box-shadow: -1px 13px 14px rgba(0,0,0,0.1);
	transition: all .1s linear;
	transform: translateY(-2px);
}
.contont-list-book h2{
	margin: 0 10px 18px;
  font-size: 16px;
  font-weight: 400;
  color: #ffac13; 
}
.contont-list-book .text{
	display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  font-size: 16px;
  color: #333;    
}
.contont-list-book .exposuer{
	display: block;
	width: 179px;
	height: 60px;
	font-size: 12px;
  line-height: 20px;
	color:  #b0b0b0;
}
.contont-list-book .pire{
	height: 21px;
  margin: 0 10px 15px;    
}
.contont-list-book .pire a{
	color: #333;
}
.contont-list-book img{
	display: block;
	width: 216px;
  height: 154px;
}
.contont-list-book ul{
	display: inline-block;
	margin-top: 28px;
	margin-left: 20px;
}
.contont-list-book li{
	display:inline-block;
	width: 6px;
	height: 6px;
	background-color:#b0b0b0;
	border-radius: 5px;
	margin-right: 25px;
}
.contont-list-book li:hover{
	background-color:  #ff6700;
}
.contont-list-book li:hover:active{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border:2px #ff6700 solid;
	transform: all .2s;
}
.contont-list-book .previous{
	float: left;
	display: inline-block;
	width: 20px;
	height: 48px;
	margin-top:-19px;
	margin-left: 0px;
}
.contont-list-book .previous:hover{
	background-color: rgba(0,0,0,0.6);
	transition: all .6s;
}
.contont-list-book .previous:after{
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	border-top: 2px #fff solid;
	border-left: 2px #fff solid;
	transform: rotate(-45deg);
	margin-top: 20px;
	margin-left: 2px;
}
.home-contont-box .contont-bd .contont-list-book:hover .previous{
	background-color: rgba(0,0,0,0.3);
	transition: all .6s;
}
.contont-list-book .next{
	float: right;
	display: inline-block;
	width: 20px;
	height: 48px;
	margin-top: -173px;
	margin-right: 0px;
}
.contont-list-book .next:after{
	content: '';
	display:inline-block;
	width: 8px;
	height: 8px;
	border-top: 2px #fff solid;
	border-right: 2px #fff solid;
	transform: rotate(45deg);
	margin-top: 20px;
	margin-right: 2px;
}
.home-contont-box .contont-bd .contont-list-book:hover .next{
	background-color: rgba(0,0,0,0.3);
	transition: all .6s;
}
.contont-list-book .next:hover{
	background-color: rgba(0,0,0,0.6);
	transition: all .6s;
}
	/*内容内容*/
	/*视频视频*/
.home-video-box{
	width: 1226px;
	height: 343px;
}
.home-video-box .title{
	width: 1226px;
	height: 58px;
}
.home-video-box .title h2{
	margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.home-video-box .video-list{
	width: 1226px;
	height: 345px;

}
.home-video-box .video-list .video-item{
	float: left;
  width: 296px;
  height: 285px;
  margin-left:14px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  transition: all .2s linear;
  position: relative;
}
.home-video-box .video-list .video-item:hover{
	box-shadow: -1px 13px 14px rgba(0,0,0,0.1);
	transition: all .1s linear;
	transform: translateY(-2px);
}
.home-video-box .video-list .video-item:nth-child(1){
	margin-left: 0;
}
.video-list .video-item img{
	width: 296px;
	height: 180px;
}
.video-list .video-item h3{
	margin: 25px 0 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;
}
.video-list .video-item a{
	color: #333;
}
.video-list .video-item p{
	height: 18px;
  margin: 0;
  font-size: 12px;
  color: #b0b0b0;
}
.video-list .video-item .play{
	position: absolute;
	top: 145px;
  left: 20px;
  bottom: 10px;
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: rgba(0,0,0,0.6);
  transition: all .2s;
  overflow: hidden;
}
.video-list .video-item .play i{
	color: #fff;
	font-size: 8px;
	position:absolute;
	top:3px;
	left: 10px;
}
.video-list .video-item .play:hover{
	background-color: #ff6700;
	border: 2px #ff6700 solid;
	color: #fff;
}

	/*视频视频*/

	/*底部底部底部*/
	.footer-section{}
.site-footer{
	width: 1226px;
	height: 272px;
	background: #fff;
	font-size: 0;
	margin-top: 71px;
}
.footer-container{
	display: inline-block;
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	padding: 27 0;
	border-bottom: 1px #e0e0e0 solid;

}
.footer-service{
	margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer-service li{
	float: left;
  width: 19.8%;
  height: 25px;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.footer-service li:after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 18px;
	background-color: #e0e0e0;
	vertical-align: middle;
	position: absolute;
	top: 31px;
	right: 0;
}
.footer-service li:nth-child(5):after{
	display: none;
}
.footer-service a{
	font-size: 16px;
  line-height: 80px;
  text-align: center;
  color: #616161;
}
.footer-service a:hover{
	color: #ff6700;
	transition: color .2s;
}
.footer-service i{
	margin-right: 5px;
}
.footer-link{
	display: inline-block;
	width: 1226px;
	height: 192px;
	background-color: #fff;
	font-size: 14px;
}
.footer-link dl{
	float: left;
	width: 160px;
  height: 112px;
  margin: 0;
  margin-top: 30px;
}
.footer-link dt{
	margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
.footer-link dd{
	margin: 10px 0 0;
  font-size: 12px;
}
.footer-link a{
	color: #757575;
}
.footer-link a:hover{
	color: #ff6700;
}
.col-contact{
	float: right;
  width: 251px;
  height: 112px;
  border-left: 1px solid #e0e0e0;
  text-align: center;
  color: #616161;
  margin-top:30px; 
}
.col-contact .phone{
	margin: 0 0 5px;
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
.col-contact p{
	margin: 0 0 16px;
  font-size: 12px;
}
.col-contact a{
	display: inline-block;
	width: 118px;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #ff6700;
  background: #fff;
  color: #ff6700;
}
.col-contact a:hover{
	background-color: #ff6700;
	color: #fff;
	transform: all .2s;
}
.col-contact i{
	margin-right: 6px;
}

.site-info{
	height: 165px;
	background-color: #f5f5f5;

}
.info-contianer{
	width: 1226px;
	height: 165px;
  font-size: 12px;
  position: relative;
}
.info-contianer .logo-ir img{
	float: left;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  text-indent: -9999px;
}
.info-text{
	float: left;
  color: #b0b0b0;
}
.info-text .info-sites{
	margin: 0;
  line-height: 18px;
}
.info-text .info-sites a{
	color: #757575;
}
.info-text .info-sites a:after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 14px;
	background-color: #b0b0b0;
	vertical-align: middle;
	margin-left: 4px;
}
.info-text .info-sites a:nth-child(14):after{
	display: none;
}
.info-sites a:hover{
	color: #ff6700;
}
.info-text .num{
	margin: 0;
  line-height: 18px;
}
.info-text .num a{
	color: #b0b0b0;
}
.info-text .num a:hover{
	color: #ff6700;
}
.info-links{
	float: right;
	margin-bottom: 60px;
}
.info-links img{
	width: auto;
  height: 28px;
}
.info-links img:nth-child(1){
	width: 85px;
	height: 28px;
}
.slogan{
	display: block;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom: 35px;
	clear: both;
  width: 267px;
  height: 19px;
}
	/*底部底部底部*/

