*{
	margin: 0 auto;
	padding:0;
	box-sizing:border-box;
}
a{
	text-decoration: none;		
}
body{
	font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.site-topbar{
	height: 40px;
	background-color: #333;
	font-size: 12px;
	color: #b0b0b0;
}
.site-topbar .contioner{
	width: 1226px;
	height: 40px;
	margin:0 auto;
}
.topbar-nav{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 0px;

}
.topbar-nav a{
	font-size: 12px;
	color: #b0b0b0;
}
.topbar-nav a:after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 17px;
	background-color: #424242;
	vertical-align: middle;
	margin:0 .5em;
}
.topbar-nav a:nth-child(9):after{
	display: none;
}

.topbar-nav a:hover{
	color: #ffffff;
}
.topbar-cart{
	width: 120px;
	margin-left: 15px;
	float: right;
}
.topbar-cart a{
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background-color: #424242;
}

.topbar-info{
	float: right;
	line-height: 40px;
	height: 40px;
	font-size: 0;
}
.topbar-info a{
	color: #b0b0b0;
	font-size: 12px;
}
.topbar-info a:after{
	content: '';
	display: inline-block;
	width: 1px;
	height: 17px;
	background-color: #424242;
	vertical-align: middle;
	margin:0 .5em;
}
.topbar-info a:nth-child(3):after{
	display: none;
}

.site-header{
	height: 100px;
}
.site-header .contioner{
	width: 1226px;
	height: 100px;
	margin:0 auto;
}
.site-header .header-logo{
	float: left;
	margin-top: 22px;
	width: 62px;
	height: 55px;	
}
.site-header .header-logo a{
	

}
.site-header .header-logo a:after{
	content: '';
	background-image: url(../img/logo_1.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 55px;
	height:55px;
	background-color:#ff6700 ;
}
.site-header .header-nav{
	width: 850px;
	height: 100px;
	float: left;
}
.site-header .header-nav .nav-list{
		float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}

.site-header .nav-list .category{
	float: left;
	width: 142px;
	height: 88px;
	padding-right:15px; 
}
.site-header .nav-list .nav-item{
	float: left;

}
.site-header .nav-item a{
	display: block;
  padding: 26px 10px 38px;
  color: #333;
}
.site-header .nav-item a:hover{
	color: #ff6700;
}
.site-header .header-scarch{
	float: right;
	width: 296px;
	margin-top: 25px;
}
.site-header .header-scarch .search-form{
	position: relative;
	width: 296px;
  height: 50px;
}


.site-header .search-text{
	position: absolute;
  top: 0;
  right: 51px;
  width: 245px;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  line-height: 48px;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.site-header .search-text:hover{
		border:1px #b0b0b0 solid;
}

.site-header .search-bth{
	position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 52px;
  height: 50px;
  border: 1px solid #e0e0e0;
  font-size: 24px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.site-header .search-bth:hover{
	background-color: #ff6700;
	color: #fff;
	border:1px #b0b0b0 solid;
}
.site-header .search-hot-words{
	position: absolute;
  top: 14px;
  right: 62px;
  z-index: 2;
  text-align: right;
}
.site-header .search-hot-words a{
	display: inline-block;
  margin-left: 5px;
  padding: 0 5px;
  font-size: 12px;
  background-color: #eee;
  color: #757575;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.site-header .search-hot-words a:hover{
	background-color: #ff6700;
	color: #ffffff;
}




.home-hero-container
.home-hero-container{
	height: 1272px;
}
.home-hero-container .home-hero{
	width: 1226px;
	height: 644px;
	margin-bottom: 26px;
	margin-left: auto;
	margin-right: auto;
}
.home-hero-container .home-hero .home-hero-slider{
	position: relative;
	height: 460px;
}
.home-hero-container .home-hero .home-hero-slider img{
	width: 1225.99px;
	height: 459.98px;
}
.home-hero-container  .home-hero-slider .ui-prev{
	position: absolute;
	width: 41px;
	height: 69px;
	top: 195.5px;
	left: 234px;

}
.home-hero-container  .home-hero-slider .ui-prev a{
	display: inline-block;
	text-indent: -9999px;
}
.home-hero-container  .home-hero-slider .ui-prev:before{
	content: '<';
	font-size: 40px;
	color: #b0b0b0;
	display: inline-block;
	position: absolute;
	left: 5px;
	top: 6px;
}
.home-hero-container  .home-hero-slider .ui-prev:hover{
	background-color: rgba(0,0,0,0.6);
}


.home-hero-container  .home-hero-slider .ui-next{
	position: absolute;
	width: 41px;
	height: 69px;
	top: 195.5px;
	right: 0px;

}
.home-hero-container  .home-hero-slider .ui-next a{
	display: inline-block;
	text-indent: -9999px;
}
.home-hero-container  .home-hero-slider .ui-next:before{
	content: '>';
	font-size: 40px;
	color: #b0b0b0;
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 6px;
}
.home-hero-container  .home-hero-slider .ui-next:hover{
	background-color: rgba(0,0,0,0.6);
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item a{
	width: 9.98px;
	height: 9.98px;
	display: inline-block;
	border-radius: 10px;
	border: 1px solid #fff;
 	border-color: rgba(255,255,255,0.3);
 	background-color: rgba(0,0,0,0.6);
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item a:hover{
	background-color: rgba(255,255,255,0.5);
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(1){
	position: absolute;
	bottom:20px;
	right: 22px;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(2){
	position: absolute;
	bottom:20px;
	right:35px; 
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(3){
	position: absolute;
	bottom:20px;
	right: 49px;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(4){
	position: absolute;
	bottom:20px;
	right: 63px;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(5){
	position: absolute;
	bottom:20px;
	right: 76px;
}
.home-hero-container  .home-hero-slider .ui-pager .ui-pager-item:nth-child(6){
	position: absolute;
	bottom:20px;
	right: 89px;
}
.home-hero-container .home-hero .home-hero-slider img{
	width: 1225.99px;
	height: 459.98px;
}

.home-hero-container .home-hero-slider .site-category{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 234px;
  height: 459.98px;
  font-size: 14px;
  background:rgba(0,0,0,0.6);
}
.home-hero-container .site-category .site-category-list{
	height: 420px;
	margin-top: 20px;
	background:rgba(0,0,0,0.0);
	
}
.home-hero-container .site-category-list .category-item{
	position: relative;
	list-style: none;
	width: 234px;
	height: 42px;
}
.home-hero-container .site-category-list .category-item a{
	font-size: 14px;
	line-height: 42px;
	color: #fff;
	margin-left: 15px;
}
.home-hero-container .site-category-list .category-item .iconfont:after{
	content: '>';
	display: inline-block;
	font-size: 22px;
	color: rgba(255,255,255,0.5);
	position: absolute;
	top: 3px;
	right: 20px;
}
.home-hero-container .site-category-list .category-item:nth-child(1) a{
	margin-left: 30px;
}
.home-hero-container .site-category-list .category-item:hover{
	background-color: #ff6700;
	color: #ffffff;
}




