	*{
		margin: 0 auto;
		padding:0;
		box-sizing:border-box;
	}

	a{
		text-decoration: none;		
	}
	body{
		font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
		height: 1000000000000px;
	}

	.header-section{
		height: 40px;
		background-color: #333;
	}

	.header-section .header-contioner{
		width: 1225px;
	}
	.topbar-nav{
		float: left;
		width: 520px;
		height: 40px;
		display: inline-block;
	}
	
	.nav-text{
		font-size:12px;
		line-height: 40px;
		color:#b0b0b0;
	}
	.nav-text:hover{
		color: #ffffff;
	}

	.nav-text:after{
		content: '';
		display: inline-block;
		width: 1px;
		height: 12px;
		background-color:#424242;
		margin-left: 7px;
		margin-right: 3px;
		vertical-align: middle;
	}
	.nav-text:nth-child(9):after{
		display: none;
	}
	.topbar-info{
		float: right;
		width: 127px;
		height: 40px;
		margin-right: -1px;
	}
	.topbar-info .nav-text:nth-child(1):after{
		margin-right: 2px;
		margin-left: 6px;
	}
	.topbar-info .nav-text:nth-child(2):after{
		margin-right: 6px;
	}
	.topbar-info .nav-text:nth-child(3):after{
		display: none;
	}
	.topbar-cart{
		width: 120px;
		height: 40px;
		text-align: center;
		display: inline-block;
		margin-left: 25px;
		margin-top: 0px;
		background-color: #424242;
		color: #b0b0b0;
		font-size: 12px;
		line-height: 40px;
		margin-right: 0;
		float: right;
	}
	.topbar-cart:hover{
		background-color: #ffffff;
		color: #ff6700;
	}
	.topbar-cart a:before{
		content: '';
		background-image: url();
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: middle;
		margin-right: 2px;
		width: 20px;
		height: 20px;
	}






	.site-header{
		background-color: #fff;
		height: 100px;
	}

	.site-header .container{
		width: 1225px;
		height: 100px;
	
	}

	.site-header .container .header-logo {
		width: 55px;
		height: 55px;
		margin-top: 22px;
		float: left;

	}
	.site-header .container .header-logo a:before{
		content:'';
		background-image: url(img/02.png);
		background-repeat: no-repeat;
		display: inline-block;
		background-color: #ff6700;
		width: 55px;
		height: 55px;
	}

	.nav-list{
		float: left;
		width: 850px;
		height: 100px;
	}

	.nav-list .nav-item{
		list-style: none;
		float: left;
	}

	.nav-list .nav-item .j_navCategory{
		float: left;
		width: 189px;
		height: 100px;
	}
	.nav-list .nav-item .link-category{
		font-size: 16px;
		line-height: 100px;: 100px;
		color: black;
		margin-right: 20px;
	}
	.nav-item .link-category:hover{
		color:#ff6700;
	}

	/*.nav-list{
		position: relative;
		width: 850px;
		height: 100px;
		margin: 0;
		padding: 12px 0 0 30px;
		float: left;
	}
	.nav-list .j_navCategory{
		width: 127px;
		float: left;
		padding-right: 15px;
	}
	.nav-list .nav-item{
		float: left;
		list-style: none;
		height: 88px;
		margin-right: 20px;
		margin-bottom: 0;
	}
	.nav-item .link-category{
		font-size: 16px;
		line-height: 100px;
		color: black;
		display: block;
	}*/
	.header-search{
		float: right;
	}
  .j_search{
		position: relative;
		width: 297px;
		height: 50px;
		display: inline-block;
		margin-top: 25px;
		margin-right: 0px;
	}

	.search-text{
		position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 245px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
	}
	.search-bth{
		position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
	}

	.search-hot-words{
		position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
	}

	.search-hot-words a{
		display: inline-block;
    margin-left: 1px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
	}
	


